@import '~bootstrap/scss/bootstrap';

.my-navbar {
  background-color: black;
}

h1 {
  text-align: center;
  position: top;
  font-size: 70px;
  color: black;
  background-color: white
}

h2 {
  text-align: center;
  color: black;
  background-color: white
}
